@use '@/scss/common/typography' as typography;

.base-button {
  @include typography.main-text(18px, 400);

  flex-shrink: 0;
  min-height: 52px;
  padding-inline: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
  font-family: inherit;
  color: var(--base-button-color, var(--color-text));
  background: var(--base-button-background, transparent);
  border: var(--base-button-border, none);
  border-radius: var(--radius);
  transition: var(--duration);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  &_theme {
    &_primary {
      --base-button-color: var(--color-blank);
      --base-button-background: var(--color-black);
    }

    &_ghost {
      --base-button-color: var(--color-text);
      --base-button-border: 1px solid var(--color-border);
    }
  }

  &_shape {
    &_square {
      padding: 0;
      aspect-ratio: 1;
    }
  }

  @media (width >= 650px) {
    &_size {
      &_desktop-middle {
        min-width: 160px;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &_theme {
      &_ghost {
        &:hover {
          --base-button-border: 1px solid var(--color-black);
        }
      }
    }
  }
}
